
<head>
  <title>Signup page</title>
  <link rel="stylesheet" type="text/css" href="singup.component.css">
</head>
<body>

<div style="text-align:center">
  <h2 class="signup-border">Signup Page</h2>

  <div class="example-container">
    <h3>Signup details:</h3>
    <mat-form-field appearance="fill">
      <mat-label>Username:</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Password:</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <br>

    <section>
      <div class="example-button-row">
        <button>Submit</button>
      </div>
    </section>
  </div>
</div>

</body>
</html>

